
.MineCellNumber--1 { color: rgb(0, 0, 255); }
.MineCellNumber--2 { color: rgb(0, 123, 0); }
.MineCellNumber--3 { color: rgb(255, 0, 0); }
.MineCellNumber--4 { color: rgb(0, 0, 123); }
.MineCellNumber--5 { color: rgb(123, 0, 0); }
.MineCellNumber--6 { color: rgb(0, 128, 128); }
.MineCellNumber--7 { color: rgb(0, 0, 0); }
.MineCellNumber--8 { color: rgb(189, 189, 189); }
